#wrapper {
  display: flex;
  overflow: hidden;
  padding-left: 220px;
}

.navbar-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100vh;
  z-index: 9;
  // max-width: 220px;
  // background: $bg_color;
  // box-shadow: inset -3px 0 12px rgba(0, 0, 0, 0.06);
}

#content-wrapper {
  width: 100%;
  overflow-x: hidden;
  background: $white_color;
}

.sidebar {
  color: $white_color;
  height: 100%;
  position: relative;
}
.main_content {
  padding-bottom: 100px;
}

.content_area {
  // width: calc(100% - 220px);
  width: 100%;
  // right: 0;
  // z-index: 0;
  // top: 0;
  // position: absolute;
  height: 100vh;
  overflow-y: auto;
}

.page_title {
  min-height: 30px;
  border-bottom: 1px solid #eee;
}

.order_history_main {
  .form-control {
    // margin-bottom: 20px;
  }
}
